---
---

@import "{{ site.theme }}";

.page-header {
  background-color: transparent;
  box-shadow: none;
  text-align: center;
}

.project-name {
  display: none; /* hides "saumyasrivastava" title */
}

.btn {
  display: none; /* hides the "View on GitHub" button */
}
