
@import "{{ site.theme }}";

.page-header {
  background-color: transparent;
  box-shadow: none;
  border: none;
  text-align: center;
}

.project-name,
.btn {
  display: none;  /* Hides repo name and GitHub button */
}
