---
---

@import "{{ site.theme }}";

.page-header {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.project-name,
.btn {
  display: none;  /* Hides the big title and GitHub button */
}
